body {
    margin: 0;
}

.disabled {
    display: none!important;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: center no-repeat url("./img/back-3.jpg");
    background-size: cover;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
    padding: 25px 25px;
    border-radius: 30px;
    background: linear-gradient(45deg, #87CEFA, #C5DDE8);
}


/* выбранная тема */
.title-topic {
    font-weight: 500;
    font-size: 35px;
    line-height: 37px;
    margin: 0;
    color: 	#4B0082;
}

.title-topic__text {
    margin-left: 5px;
}


.top-block {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}


/* картинки */
.hangman-img-box {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
}

.hangman-img {
    position: absolute;
    opacity: 0; /*!!!! должно быть 0*/
}

.hangman-img-2 {
    z-index: 2;
}

.hangman-img-3 {
    z-index: 3;
}

.hangman-img-4 {
    z-index: 4;
}

.img-active {
    opacity: 1;
}


/* пишем слово */
.word-write {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 0 50px 0;
    padding: 0;
}

.word-write__letter {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-bottom: 3px solid #1E90FF;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.word-write__letter:last-child {
    margin-right: 0;
}

.word-write__text {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #006400;
    margin: 0 0 10px 0;
}



/* буквы оверлей*/
.letters-fields {
    position: relative;
}

.letters-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-family: "Inter", sans-serif!important;
    /* background-color: rgba(135, 206, 250, 0.8); */
    background: linear-gradient(45deg, rgba(135, 206, 250, 0.9), rgba(169, 215, 241, 0.9));
    height: 208px;
    width: 100%;
    border-radius: 6px;
}

.letters-overlay__text {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 62px;
    margin: 0 0 20px 0;
    color: #191970;
}

.letters-overlay__btns {
    display: flex;
    align-items: center;
}

.letters-overlay__btn {
    width: 130px;
    height: 34px;
    background: #1E90FF;
    border-radius: 6px;
    border: none;
    font-weight: 00;
    font-size: 15px;
    line-height: 17px;
    padding: 0;
    margin-right: 20px;

    color: white;
    font-family: "Inter", sans-serif!important;
}

.letters-overlay__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.letters-overlay__btn:last-child {
    margin-right: 0;
}


/* выбираем тему */
.topic {
    font-family: "Inter", sans-serif!important;
}

.topic__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 47px;
    margin: 0 0 35px 0;
    color: 	#191970;
    text-align: center;
}

.topic__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.topic__item {
    list-style: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    color: 	#191970;
    margin: 0 20px 0 0;
}

.topic__item:last-child {
    margin-right: 0;
}

.topic__item:hover {
    cursor: pointer;
    color: #483D8B;
}



/* буквы*/
.letters {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    padding: 0;
    margin: 0;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;

    max-width: 60px;
    max-height: 60px;
}

.letter:hover {
    cursor: pointer;
    opacity: 0.5;
}

.letter__text {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
    color: #00008B;

    margin: 0;
}

.letter__mark {
    position: absolute;
    height: 30px;
    width: 30px;

    opacity: 0;
    visibility: hidden;
}

.letter__mark--type--error {
    background: transparent center no-repeat url(./img/error.png);
    background-size: contain;
}


.letter__mark--type--ok {
    background: transparent center no-repeat url(./img/ok.png);
    background-size: contain;
}

.mark-active {
    opacity: 1;
    visibility: visible;
}


.link-icon {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}